/* Estilos para las imágenes de VR y AR */
.image-container img {
    border-radius: 10px;    /* Bordes redondeados */
    width: 80%;             /* Tamaño más pequeño (ajustable) */
    max-width: 500px;       /* Tamaño máximo permitido */
    margin: 0 auto;         /* Centrado horizontal */
    display: block;         /* Asegura que la imagen se centre */
}
p {
    font-size: 20px;
    text-align: justify;
}
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}
