
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}


p {
    font-size: 20px;
}

h1, h2, h3 {
    color: #333;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Estilo general del carrusel */
.carousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/* Imágenes del carrusel */
.carousel img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
    height: auto; /* Mantiene la proporción original */
    max-height: 700px; /* Limita la altura para mantener el carrusel en proporción */
    object-fit: contain; /* Las imágenes se ajustan dentro del carrusel sin recortarse */
   
}
/* Capciones del carrusel */
.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 15px;
}

/* Texto de la capción */
.carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

/* Controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

/* Indicadores del carrusel */
.carousel-indicators [data-bs-target] {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active {
    background-color: #007bff;
}
