body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

p {
    font-size: 20px;
}


h1, h2, h3 {
    color: #333;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.navbar-brand img {
    border-radius: 50%;
}

/* Título */
.section-title {
    color: #333;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

/* Sección de Teachable Machine */
.teachable-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#webcam-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#label-container .progress {
    margin: 10px 0;
    width: 80%;
    text-align: left;
}
.label-item {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

#label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botón */
.start-button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.image-container img {
    border-radius: 10px;    /* Bordes redondeados */
    width: 80%;             /* Tamaño más pequeño (ajustable) */
    max-width: 500px;       /* Tamaño máximo permitido */
    margin: 0 auto;         /* Centrado horizontal */
    display: block;         /* Asegura que la imagen se centre */
}