<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/portafolio.png')}}" alt="logo" width="100px">
            Mi Portafolio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Primer Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.canva.com/design/DAGPJ-R60DA/s3460CwfZzebjJs6CkK9eg/view?utm_content=DAGPJ-R60DA&utm_campaign=designshare&utm_medium=link&utm_source=editor"> StackOverflow </a></li>
                      <li><a class="dropdown-item" href="primerpagina.html">Mi primera pagina web</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="quiensoy.html">Quien soy</a></li>
                      <li><a class="dropdown-item" href="paginagit.html">GITHUB</a></li>
                      <li><a class="dropdown-item" href="paginavr.html">VR,AR Y ER</a></li>
                    </ul>
                </li>    

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Segundo Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="paginaescaneo.html">Escaneo Polycam</a></li>
                      <li><a class="dropdown-item" href="paginasketchlab.html">Sketchlab</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="paginajuego.html">Juego del Ahorcado</a></li>
                      <li><a class="dropdown-item" href="paginaredes.html">Redes Sociales</a></li>
                    </ul>
                </li>    

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tercer Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="backend.html">Backend</a></li>
                      <li><a class="dropdown-item" href="cursointegra.html">Curso Integra</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="paginaflutter.html">Flutterflow</a></li>
                      <li><a class="dropdown-item" href="paginateach.html">Teachable Machine</a></li>
                    </ul>
                  </li>

                
            </ul>
            </ul>
        </div>
    </div>
</nav>

<!-- Secciones -->
<!-- Secciones: Carrusel -->
<div id="seccionesCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Primer Parcial -->
      <div class="carousel-item active">
        <a href="https://www.canva.com/design/DAGPJ-R60DA/s3460CwfZzebjJs6CkK9eg/view?utm_content=DAGPJ-R60DA&utm_campaign=designshare&utm_medium=link&utm_source=editor">
          <img src="{{ url_for('static', filename='images/stackover.jpg')}}" class="d-block w-100" alt="StackOverflow">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>StackOverflow</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="primerpagina.html">
          <img src="{{ url_for('static', filename='images/miprimerapagina.png')}}" class="d-block w-100" alt="Mi Primera Página Web">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>Mi Primera Página Web</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="quiensoy.html">
          <img src="{{ url_for('static', filename='images/quiensoy.png')}}" class="d-block w-100" alt="Quién Soy">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>¿Quién Soy?</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginagit.html">
          <img src="{{ url_for('static', filename='images/github.png')}}" class="d-block w-100" alt="GitHub">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>GitHub</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginavr.html">
          <img src="{{ url_for('static', filename='images/realidad.jpg')}}" class="d-block w-100" alt="VR, AR y ER">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>VR, AR y ER</h5>
        </div>
      </div>
  
      <!-- Segundo Parcial -->
      <div class="carousel-item">
        <a href="paginaescaneo.html">
          <img src="{{ url_for('static', filename='images/polycam.png')}}" class="d-block w-100" alt="Escaneo Polycam">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>Escaneo Polycam</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginasketchlab.html">
          <img src="{{ url_for('static', filename='images/sketchlab.jpeg')}}" class="d-block w-100" alt="SketchLab">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>SketchFab</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginajuego.html">
          <img src="{{ url_for('static', filename='images/ahorcado.jpg')}}" class="d-block w-100" alt="Juego del Ahorcado">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>Juego del Ahorcado</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginaredes.html">
          <img src="{{ url_for('static', filename='images/redes.jpg')}}" class="d-block w-100" alt="Redes Sociales">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>Redes Sociales</h5>
        </div>
      </div>
  
      <!-- Tercer Parcial -->
      <div class="carousel-item">
        <a href="paginaflutter.html">
          <img src="{{ url_for('static', filename='images/flutter.png')}}" class="d-block w-100" alt="FlutterFlow">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>FlutterFlow</h5>
        </div>
      </div>
  
      <div class="carousel-item">
        <a href="paginateach.html">
          <img src="{{ url_for('static', filename='images/Teachable.jpeg')}}" class="d-block w-100" alt="Teachable Machine">
        </a>
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2">
          <h5>Teachable Machine</h5>
        </div>
      </div>
  
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#seccionesCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#seccionesCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  
<!-- Contacto -->
<footer class="bg-dark text-white text-center mt-5 p-3" id="contacto">
    <h4>Contacto</h4>
    <p>Correo: 201251@iberopuebla.mx</p>
    <p> Numero: 2721321132 </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/assets/javascript/script.js"></script>
</body>
</html>
