<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera pagina web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/portafolio.png')}}" alt="logo" width="100px">
            Mi Portafolio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Primer Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://www.canva.com/design/DAGPJ-R60DA/s3460CwfZzebjJs6CkK9eg/view?utm_content=DAGPJ-R60DA&utm_campaign=designshare&utm_medium=link&utm_source=editor"> StackOverflow </a></li>
                      <li><a class="dropdown-item" href="primerpagina.html">Mi primera pagina web</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="quiensoy.html">Quien soy</a></li>
                      <li><a class="dropdown-item" href="paginagit.html">GITHUB</a></li>
                      <li><a class="dropdown-item" href="paginavr.html">VR,AR Y ER</a></li>
                    </ul>
                </li>    

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Segundo Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="paginaescaneo.html">Escaneo Polycam</a></li>
                      <li><a class="dropdown-item" href="paginasketchlab.html">Sketchlab</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="paginajuego.html">Juego del Ahorcado</a></li>
                      <li><a class="dropdown-item" href="paginaredes.html">Redes Sociales</a></li>
                    </ul>
                </li>    

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tercer Parcial
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="backend.html">Backend</a></li>
                      <li><a class="dropdown-item" href="cursointegra.html">Curso Integra</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="paginaflutter.html">Flutterflow</a></li>
                      <li><a class="dropdown-item" href="paginateach.html">Teachable Machine</a></li>
                    </ul>
                  </li>


                
            </ul>
            </ul>
        </div>
    </div>
</nav>
    <header>
        <h1>Bienvenido a Mi Sitio Web</h1>
    </header>

    <section>
        <h2>¿Quién soy?</h2>
        <p>Soy Axel Arellano, mejor conocido como la fking maquina del chambeo.</p>
    </section>

    <section>
        <h2>Gustos</h2>
        <ul>
            <li>Programación</li>
            <li>Videojuegos</li>
            <li>Futbol</li>
            <li>Musica</li>
            <li>Gym</li>
        </ul>
    </section>

    <section>
        <h2>Habilidades</h2>
        <ul>
            <li> Bueno en programacion</li>
            <li> Muy bueno en casi todos los videojuegos</li>
            <li> Muy bueno en matematicas</li>
            <li> Chistoso</li>
            <li> Bueno para hablar en publico</li>
        </ul>
    </section>

    <section>
        <h2>Contacto</h2>
        <p>Puedes contactarme a través de los siguientes medios:</p>
        <ul>
            <li>Email: <a href="mailto:abejo.2005@gmail.com">abejo.2005@gmail.com</a></li>
            
        </ul>
    </section>

    <footer>
        <p>
            Numero de telefono: 2721321132
        </p>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>